<p>Хороший {{ user.username }},</p>
<p>Тебя приветствует наша команда <b>Flasky</b>!</p>
<p>
  Для подтверждения электронной почты
  <a href="{{ url_for('auth.confirm', token=token, _external=True) }}"
    >нажми сюда</a
  >.
</p>
<p>
  Кроме того, вы можете вставить следующую ссылку в адресную строку вашего
  браузера:
</p>
<p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
<p>Искренне,</p>
<p>Наша команда FLASK!</p>
<p>
  <small
    >Примечание: ответы на этот адрес электронной почты не отслеживаются.</small
  >
</p>
